.ValidatedTextInput {
  height: 73px;
  width: 150px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  &__label {
    width: 100%;
    font-family: 'Raleway', sans-serif;
  }
  &__labeltext {
    font-family: 'Raleway', sans-serif;
    transition: 0.5s;
    position: absolute;
    display: block;
    &--inactive {
      left: 15px;
      top: 19.5px;
      color: grey;
      font-size: 16px;
    }
    &--active {
      font-size: 12px;
      color: #1874cd;
      left: 11px;
      top: 0px;
    }
  }
  &__input {
    outline: none;
    background-color: aliceblue;
    border: 1px #1874cd solid;
    border-radius: 5px;
    height: 26px;
    margin: 15px 10px 32px;
    width: 150px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding-left: 4px;
    padding-bottom: 2px;
    &::placeholder {
      font-family: 'Raleway', sans-serif;
      font-size: 16px;
      position: absolute;
      top: 3px;
    }
    &:focus {
      background-color: white;
      padding-left: 3px;
      border: 2px #1874cd solid;
    }
  }
  &__errorMsg {
    color: red;
    position: absolute;
    top: 43px;
    left: 11px;
    font-family: 'Tajawal', sans-serif;
    font-size: 12px;
    width: 150px;
  }
  &--desktop {
    .ValidatedTextInput__input {
      margin-bottom: 0;
    }
    .ValidatedTextInput__labeltext--active {
      color: white;
    }
  }
}